.query-form {
  display: flex;
  flex-direction: column;
}

.query-fav {
  cursor: pointer; 
  position: absolute;
  padding: 20px 6px 0 0;
  align-self: flex-end;
}

.fav-block {
  width: 20%;
  height: 200px;
  border: 1px solid #aaa;
  line-height: normal;
  font-size: 14px;
  padding: 2px;
  overflow-y: scroll;
}

.query-textarea { width: 80%; }

.query-result {
  /*display: none;*/
  height: 200px;
  border: 1px solid #aaa;
  margin-top: 20px;
  overflow-y: scroll;
}

.query-result-table {
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
  border-collapse: collapse;
}

.query-result-table th, .query-result-table td, .fav-table td  {
  font-size: 14px;
  padding: 5px;
  line-height: 22px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.query-result-info {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  line-height: 16px;
  font-size: 12px;
}

.spinner {
  display: none;
  margin-top: 310px;
  align-self: center;
  width: 100px;
  position: absolute;
}